/SngClient/Assets/Plugins/ProudDot*.*
/SngClient/Assets/Plugins/WebGL*.*
/SngClient/Assets/Plugins/WebGL/
/SngClient/Assets/Plugins/x64*.*
/SngClient/Assets/Plugins/x64/
/SngClient/Assets/Plugins/*.meta
/.vs/RealtimeSocialVille/DesignTimeBuild/*.v2
/.vs/RealtimeSocialVille/v16/*.suo
/SngClient_clone_*
/SngClient/Assets/ParrelSync.meta
