/SngClient/Assets/Plugins/ProudDot*.*
/SngClient/Assets/Plugins/WebGL*.*
/SngClient/Assets/Plugins/WebGL/
/SngClient/Assets/Plugins/x64*.*
/SngClient/Assets/Plugins/x64/
/SngClient/Assets/Plugins/*.meta
